@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 0 0% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 3.9%;

      --primary: 0 0% 9%;
      --primary-foreground: 0 0% 98%;

      --secondary: 0 0% 96.1%;
      --secondary-foreground: 0 0% 9%;

      --muted: 0 0% 96.1%;
      --muted-foreground: 0 0% 45.1%;

      --accent: 0 0% 96.1%;
      --accent-foreground: 0 0% 9%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 89.8%;
      --input: 0 0% 89.8%;
      --ring: 0 0% 3.9%;

      --dark-navy: #020c1b;
      --navy: #0a192f;
      --light-navy: #112240;
      --lightest-navy: #233554;
      --navy-shadow: rgba(2, 12, 27, 0.7);

      --dark-slate: #495670;
      --slate: #8892b0;
      --light-slate: #a8b2d1;
      --lightest-slate: #ccd6f6;

      --white: #e6f1ff;

      --green: #64ffda;
      --green-tint: rgba(100, 255, 218, 0.1);

      --pink: #f57dff;
      
      --blue: #57cbff;

      --radius: 0.5rem;
    }

    .dark {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;

      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 0 0% 9%;

      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;

      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 0 0% 83.1%;

      --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  @layer components {
    .image-wrapper {
      @apply absolute z-50 w-full h-full left-0 top-0 group-hover:left-[-0.25rem] group-hover:top-[-0.25rem] transition-custom group-hover:transition-custom;
    }

    .image-before {
      @apply relative min-w-[20rem] h-[20rem]
      before:absolute before:top-3 before:left-3 before:w-[20rem] before:h-[20rem]
      before:rounded-md before:bg-darkNavy before:border before:border-green before:z-0
      hover:before:left-4 hover:before:top-4 transition-custom hover:before:transition-custom; 
    }

    .profile {
      @apply rounded-md filter grayscale-[100%] hover:grayscale-[0%] transition-custom;
    }
  }